body {background:#f0f0f0; font:14px Roboto, Open Sans, Helvetica, Arial, sans-serif; color:#444;}
.content {width:1090px; margin:0 auto;}
section:after, .item .footer:after, .item .body:after, footer:after {content:''; display:block; clear:both;}
input {font:14px Roboto, Open Sans, Helvetica, Arial, sans-serif;}
.right {float:right;}
.left {float:left;}
b {font-weight: bold!important;}
i {font-style:italic;}
a img {border-width:0;}
a {color:#019CCA;}

.header_container {width:100%;  background: #FFFFFF; position:fixed; top:0; z-index: 10000;box-shadow: 0px 2px 10px -7px #000;/* height: 86px; */}

header {height:44px; padding:20px 0; border-bottom:8px solid #019CCA;}
header .logo, .info .logo {display:block; width: 80px; height: 46px; background: url(http://2.bp.blogspot.com/-dUARUZcAJpU/VTPs4FplfqI/AAAAAAAABfc/xeX8w0uA1uc/s1600/01-azul.png) center no-repeat; background-position-x: 0px;background-size: 99%; float:left;}
header nav {float:left; margin-left: 10px; text-transform:uppercase;}
header nav > ul > li {float:left;}
header nav > ul > li > a {float:left; line-height: 29px !important; font-size: 19px;height:30px; color: #FFFFFF; padding:7px 15px; -webkit-transition:.3s !important;  position:relative; border-radius:2px;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;margin-right: 10px;background: #019CCA;}
header nav > ul > li:hover > a {background: #FFFDFD; color: #019CCA;}
header nav > ul > li.submenu:hover > ul {display:block;}
header nav > ul > li.submenu > ul {position:absolute; background:#FFF; top:30px;  box-shadow:0 1px 2px rgba(0,0,0,.25); margin-top:32px; overflow:hidden; display:none; border-radius:0 2px 2px 2px;}
header nav > ul > li.submenu > ul:before {content:''; display:block; width:0; height:0; border:7px solid #FFF; border-color:transparent transparent #FFF transparent; position:absolute; left:50%; margin-left:-7px; top:-14px; cursor:pointer;}
header nav > ul > li.submenu > ul li a {display:block; padding: 10px 14px; color:#6B6B6B; -webkit-transition:.3s;}
header nav > ul > li.submenu > ul li a:hover {background: #000000; color:#FFF;}
header .social {float: left; padding:1px 0;display: none;}
header .social a {display:block; width: 45px; height: 45px; float:left; background:url(http://i.imgur.com/OeXelMY.jpg) no-repeat; opacity:.5; margin-right: 10px; -webkit-transition:.3s;}
header .social a:hover {opacity:.9;}
header .social a.twitter {background-position:-40px 0;}
header .social a.instagram {background-position:-80px 0;}
header .search input {float:left;}
header .search input[type=text] {padding:5px; outline: 0; border:1px solid #DDD; border-right:0; width: 200px; height: 24px;border-radius:3px 0 0 3px;}
header .search input[type=submit] { background:#019CCA; border:1px solid #019CCA; color:#FFF; padding:5px 10px; cursor:pointer; border-radius:0 2px 2px 0;height: 36px;font-weight: bold;text-transform: uppercase; font-size: 12px;}
header section.search {float: right;padding: 4px 0;}

.banner {margin:86px 0 40px; width:100%; height: 380px;position:relative;	background: url('http://tgnews.com.br/lucas/arquivos/zedd-brasil/lineslca.svg') top right no-repeat,        url('http://tgnews.com.br/lucas/arquivos/zedd-brasil/lineslca.svg') bottom left no-repeat,        url('http://html5up.net/uploads/demos/tessellate/css/images/overlay.png'),        linear-gradient(45deg, #800080 5%, #019CCA);}
			
#logo-header { width: 300px; height: 152px; position: absolute; background: url(http://3.bp.blogspot.com/-PgHfQunAURY/VSpz5FcKCSI/AAAAAAAAEcs/gO-QldG_v4o/s1600/02menor-branco.png) no-repeat; background-size: 100%; z-index: 2; top: 126px; left: 30px; display: none;}

div#header-logo {
    width: 100%;    height: 400px;
    position: absolute;
}

#logo-header-big {
    width: 720px;    height: 152px;        
    background: url(http://2.bp.blogspot.com/-qJDoCPQog04/VSpvqVL1IlI/AAAAAAAAEcM/kqwDlmICSQ8/s1600/01-branco.png) no-repeat;    background-size: 100%;    
    z-index: 2;        
    top: 35%;
    margin: auto;
    position: relative;
}

center #logo-header-big {
}			
section.zedd {
    background-image: url('http://html5up.net/assets/css/images/px-bg.svg'), url('http://photo.rukes.com/xs16/slides/xs6_002.jpg');
    background-size: cover;
    background-position-y: -230px;
    width: 100%;    
    height: 380px;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    -webkit-filter: grayscale(100%);    filter: grayscale(100%);
    background-attachment: fixed;
}

.banner.small {height: 300px; background-position:top center;background: url(http://photo.rukes.com/truecolors/slides/truecolors_021.jpg);background-size: cover;    background-position-y: -310px;}

.main {width: 720px; float: right;position: relative;}
#posts_section_title h1 {
     
    position: relative;
    width: auto;
    border-bottom: 4px solid #019CCA;
    max-width: 40%;
    margin: 0 auto;
}

#posts_section_title {font-size: 30px;    text-transform: uppercase;    padding-bottom: 5px;    border-bottom: 1px solid #DDD;    margin-bottom: 20px;    position: relative;    width: 100%;text-align: center;}
#posts_section_title h1.small {font-size:20px; padding-bottom:8px;}
#posts_section_title h1 span {font-weight:bold;}
#posts_section_title h1:after {content:''; display:block; width:200px; /* height:4px; */ /* background:#019CCA; */ position:absolute; bottom:-2px;margin: 0 auto;}
.posts article {width: 350px; height: 240px; overflow:hidden;  box-shadow: 0px 2px 10px -7px #000;float:left; margin:0 20px 20px 0; border-radius:2px;}

.posts article:nth-child(2), .posts article:nth-child(4), .posts article:nth-child(6), .posts article:nth-child(8), .posts article:nth-child(10), .posts article:nth-child(12),.posts article:nth-child(14) {
    margin-right: 0;
}
.posts article a {display:block; height: 240px; position:relative;}
.posts article a img {width:370px;}
.posts article a h1 {position:absolute; width: 320px; bottom:0; padding: 20px 15px 20px; color: #019CCA;  background: #FFFFFF;border-bottom: 4px solid #019CCA;-webkit-transition:.3s !important; font-size: 17px; font-weight:bold; text-transform:uppercase;}
.posts article a span {position:absolute; top:15px; left: 15px; font-size:12px; line-height:10px; color:#FFF; background: #019CCA; padding:7px 5px; border-radius:2px;}
.posts article:hover a h1 {
    background: #019CCA;
    color: #fff;
    border-bottom: 4px solid #FFFFFF;
}

.main h1.small {font-size:30px; text-transform:uppercase; padding-bottom:5px; border-bottom:1px solid #DDD; margin-bottom:20px; position:relative; width:760px;}
.main h1.small {font-size:20px; padding-bottom:8px;}
.main h1.small span {font-weight:bold;}
.main h1.small:after {content:''; display:block; width:200px; height:4px; background: #019CCA; position:absolute; bottom:-2px;}

.item {background:#FFF; margin-bottom:20px; width: 100%; overflow:hidden; font-size:14px;}

.header-post {
    position: absolute;
    height: 316px;
    width: 92%;
    overflow: hidden;
    padding: 4%;
}
.item > .header-post h2 { color: #000; font-size:22px;  text-transform:uppercase; font-weight:500; line-height:25px; border-radius:2px 2px 0 0; letter-spacing:-1px; position: absolute; /* height: 246px; */ float: right; bottom: 68px; width: 92%;}

.item > .header-post h3 {
    position: absolute;
    bottom: 30px;
    background: #fff;
    padding: 10px 15px;
}

.item > .header-post h2 a {
    color: #FFF;
    background: rgba(1, 156, 202, 1);
    padding: 15px;
    line-height: 36px;
    font-weight: bold;
    text-align: left;
    bottom: 0;
    position: absolute;
}

a {}
.item .body {padding:0 26px 26px; font-family:Open Sans, Helvetica, Arial, sans-serif;}
.item .body img {width: 720px; margin: 0 0 10px -26px; height:auto;}

.item .body img:first-child {
    display: block;
}
.item .body blockquote { color: #000; padding:20px; margin: 20px 80px; border-radius: 3px; border-bottom: 4px solid #019CCA; background: #F5F5F5;}
.item .body a {color:#019CCA; margin:0 !important;}
.item .body ul, .item ol {padding-left:40px;}
.item .body ul {list-style-type:disc;}
.item .body ol {list-style-type:decimal;}
.item .body h2 {font-size:22px; font-weight:bold; color:#019CCA;}
.item .body h3 {font-size:18px; font-weight:bold; color:#666;}
.item .body h4 {font-size:17px; font-weight:normal !important;}
.item .body iframe {max-width:608px !important;}
.item .footer { background: #019CCA; padding:20px; border-radius:0 0 2px 2px;color: #fff;}
.item .footer a {font-weight:bold; color: #FFF!important;background: rgba(0, 0, 0, 0.27);padding: 0 3px;}
.item .footer .meta {width:450px; float:left;}
.item .footer .social {float:right;}
.item .footer .social div {float:left; margin-right: 10px;}

.item .footer .social div:last-child {
    margin: 0;
}


.header-pagina {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.item > .header-pagina h2 { background: rgba(1, 156, 202, 1);    padding: 15px; color: #000; font-size:22px;  text-transform:uppercase; font-weight:500; line-height:25px; border-radius:2px 2px 0 0; letter-spacing:-1px; float: none;}

.item > .header-pagina h3 {
    background: #0783A8;
    padding: 10px 15px;
    float: left;
    color: #fff;
}

.item > .header-pagina h2 a {
    color: #FFF;
    line-height: 36px;
    font-weight: bold;
    text-align: left;
    bottom: 0;
}


.navposts {margin-bottom:20px; background:#FFF; overflow:hidden; width: 100%; border-radius:2px;}
.navposts.fromitem {width: 100%;}
.navposts a {display:block; line-height: 40px; padding: 14px; color:#FFF; background:#333; -webkit-transition:.3s;text-transform: uppercase;font-weight: 600;font-size: 15px;}
.navposts a:hover {background:#019CCA;}

.comments {background:#FFF; padding: 3%; margin-bottom: 20px!important; width: 94%; border-radius:2px;float: left;position: relative;}
.comments #disqus_thread {padding: 20px;}

aside {width: 350px; float: LEFT;}
aside section, aside .feed_pop, #sidebar-right .widget {background:#FFF; padding:15px; margin-bottom:20px; border-radius:2px; overflow:hidden;box-shadow: 0px 2px 10px -7px #000;}

.twitter-header {
    margin: -15px -16px 0 -16px;
    height: 150px;
    width: 110%;
    background: url(http://1.bp.blogspot.com/-UmQiZwkVdmU/VTQBMJmoQpI/AAAAAAAAEdc/_zuPW7DCVj4/s1600/zedd-twitter.png);
}
aside #HTML5 h2 {background: #3b5998!important;}
aside section.search {padding:0; background:transparent; border-bottom:1px solid #DDD; height:45px;display: none;}
aside section.search input {float:left;}
aside section.search input[type=text] {padding:5px; outline:0; border:1px solid #DDD; border-right:0; width: 274px; border-radius:3px 0 0 3px;}
aside section.search input[type=submit] {padding:5px; outline:0; background:#019CCA; border:1px solid #019CCA; color:#FFF; padding:5px 10px; cursor:pointer; border-radius:0 2px 2px 0;}
aside section h1, #sidebar-right .widget h2 {margin:-15px -15px 15px; padding:15px; text-transform:uppercase; color:#FFF; font-weight:bold; background: #019CCA;}
aside section.facebook h1 {background:#3b5998;}
aside section.twitter h1 {background:#55ACEE;}

#HTML1 .widget-content { max-height: 585px!important; }

			/* SLIDER  */  
#post-cat {width: 100%;margin-bottom: 40px;}
.pix_diapo {height: 280px; overflow: hidden; position: relative; width: 100%;}
.pix_diapo > div {display: none; height: 280px; left: 0;  top: 0; width: 100%;}
#pix_prev, #pix_next {cursor: pointer; display: block; height: 40px; position: absolute; top: 10px; width: 40px; z-index: 1001;}
#pix_prev {background: url(http://1.bp.blogspot.com/-BnLXornTEno/VTQtX9mD4VI/AAAAAAAAEeQ/gnnEg7iqOko/s1600/prev.png) no-repeat; left: 10px;}
#pix_next {background: url(http://3.bp.blogspot.com/-Wrw44p9VBYQ/VTQtXxMMdPI/AAAAAAAAEeM/2cZI_BacObY/s1600/next.png) no-repeat; right: auto!important; left: 50px!important;}
#pix_pag {margin: 0 auto; position: relative; width: 100%; z-index: 99999;}


#pix_commands {display: none!important; cursor: pointer;  float: left; height: 26px; margin: 15px 0 0 13px; position: relative; width: 24px;}
#pix_play {background: url(http://www.anahigiovanna.com.br/wp-content/themes/anahigiovanna/images/play.png) center no-repeat; height: 24px; left: 0; position: absolute; top: 0; width: 24px;}
#pix_stop {background: url(http://www.anahigiovanna.com.br/wp-content/themes/anahigiovanna/images/pause.png) center no-repeat; height: 24px; left: 0; position: absolute; top: 10px; width: 24px;}
#pix_pag_ul {float: right; margin: 0; padding: 0;}
#pix_pag_ul > li {cursor: pointer; display: block;
.display: inline-block; float: left; list-style: none; margin: 0 10px 0 0; padding: 14px 8px 0; text-align: center; text-indent: -9999px; width: 16px;}
#pix_pag_ul > li > span {background: #222; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; display: block; height: 16px; width: 16px;}
#pix_pag_ul > li:hover > span > span {background: #ccc;}
#pix_pag_ul > li > span > span {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; display: block; float: left; height: 8px; margin: 4px; width: 8px;}
#pix_pag_ul > li.diapocurrent > span > span {background: #fff; -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
#pix_pag_ul > li > .pix_thumb {display: none; border: 4px solid #f2f2f2; -moz-box-shadow: 0 1px 8px #000; -webkit-box-shadow: 0 1px 8px #000; box-shadow: 0 1px 8px #000; height: 58px; left: -17px; position: absolute; top: -40px; width: 58px;}
#pix_pag_ul > li > .thumb_arrow {border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid  #e6e6e6; top: 26px; left: 12px; position: absolute;}
.pix_relativize {overflow: hidden;position: relative;height: 280px!important;width: 100%!important;}
.pix_relativize img {width: 115%;margin-left: -60px;}
.imgFake {cursor: pointer;}
.elemHover {position: absolute;}
.caption {font-size: 32px;    font-weight: bold;   text-transform: uppercase;text-align: left; bottom: 0px!important; color: #fff;display: block; left: 0px;   width: 90%!important;padding: 5%;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;font-weight: bold;top: auto!important;}
.caption { background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.51) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0, 0, 0, 0.51))); background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.51) 100%); background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.51) 100%); }
.caption h1 {color: #fff;left: 20px;font-weight: bolder;background: #019CCA;padding: 10px;font-size: 25px;float: left;}
.caption a:hover {color: #000000;}
.ui-loader {display: none;}
.caption1 {/* float: none; */width: auto!important;text-align: center;font-size: 16px;font-weight: bold;text-transform: uppercase;text-align: left;top: 11px;border: 1px solid #FFFFFF;color: #019CCA;background: #fff;padding: 10px;line-height: 22px;z-index: 10;margin: 0 auto;right: auto!important;}


.index-bottom { padding-top: 40px; position: relative; background: url(http://cdn.papermag.com/uploaded_images/zedd_edm_2.jpg) no-repeat #fff; background-position-y: -140px; background-position-x: 540px; background-size: 90%; }
.info {background: rgba(0, 0, 0, 0.17); padding:20px 0; height:44px;  font-size:14px;bottom: 0;position: relative;}
.info .quick {float:left; padding: 7px 0; margin-left:20px;}
.info .quick a {border-radius: 3px;margin-right: 10px;line-height: 30px; background: #019CCA; float:left; padding: 0 10px; color: #FFF; border: 1px solid #0496C2; border-right:0;text-transform: uppercase;font-weight: bold;font-size: 18px;}
.info .quick a:first-child {/* border-radius:3px 0 0 3px; */}
.info .quick a:last-child {/* border-right:1px solid #CCC; */ }
.info .links {float:right; padding:10px 0;}
.info .links a {line-height:24px; color: #FFFFFF; font-weight:bold; float:left; margin-left:20px;text-transform: uppercase;}

.anuncio {margin-bottom:40px; text-align:center;display: none;}
.anuncio a {display:inline-block; width:230px; height:90px; background:url(http://i.imgur.com/OgJ3e9G.jpg) center no-repeat; margin-left:20px;}
aside .anuncio {margin-bottom:20px;}
.anuncio_mobile {width:100%; text-align:center; margin-bottom:20px; display:none;}
.anuncio_mobile.index {margin:0;display: none;}

.static_page {padding:40px; margin-bottom:20px; background:#FFF; line-height:26px; border-bottom:8px solid #019CCA;}
.static_page > h1 {font-size:24px; text-transform:uppercase; font-weight:bold; margin-bottom:26px;}
.static_page > a {color:#019CCA;}

footer {background:#FFF; padding:20px 0; color:#888; font-size:14px;}
footer .right {float:right;}
footer a {color: #FFF;background: #019CCA;padding: 4px;text-transform: uppercase;font-weight: bold;border-radius: 4px;}
footer .left div {top:3px; left:10px;}

.feed_pop {background:#cb0e0e url(http://i.imgur.com/1R6uBWn.jpg) top center no-repeat !important; padding-top:84px !important;}
.feed_pop a {color:#FFF; padding:10px 0; -webkit-transition:.3s; display:block;}
.feed_pop .widget-content li {border-bottom:1px solid rgba(255,255,255,.25);}
.feed_pop .widget-content li:last-child {border-bottom:none;}
.feed_pop .widget-content:hover a {opacity:.5;}
.feed_pop .widget-content li a:hover {opacity:1;}
.feed_pop .Feed > a {padding:0; border:0; font-size:12px; text-transform:uppercase; float:right; margin-top:10px; opacity:.7;}


@media screen and (max-width:1300px){
	.content {width:990px;}
	.main {width: 660px;}
	.posts article {width: 48.4%;}

aside {
    width: 310px!important;
}
	.posts article a h1 {width:290px !important;}
	.navposts, .main section > h1 {width:660px;}
	.turne {width:990px;}
	.projetos {width:660px;}
	.projetos a {height:105px;}
}

@media screen and (max-width:1050px){
	body, html {overflow-x:hidden;}

	.content, .main {width: 100%;}

.main {
    width: 100%;
}

#Blog1 {
    width: 92%;
    padding: 2%;
    overflow: hidden;
}

footer {
    padding: 3%!important;
}

.index-bottom {
    display: none;
}
	.anuncio, .main section > h1, section.projetos, .turne, aside section, aside, .screen, .feed_pop, header .social {display:none;}

	.header_container {height:74px;}
	header {height:30px; border-width:4px;}
	header .openmenu {display:block; width:30px; height:30px; background:#019CCA; float:right; margin:0 20px; box-shadow: inset 0 -6px #019CCA, inset 0 -12px #FFFFFF, inset 0 -18px #019CCA, inset 0 -24px #FFFFFF;}
	header .logo {margin: 0 20px; width: 80px; height: 44px;margin-top: -5px;}
	header nav {position:absolute; top:70px; left:0; width:100%; margin:0; background: #CFCFCF; overflow:hidden; height:0; -webkit-transition:.3s !important;}
	header nav.open {height: 176px;}
	header nav li {width:100%;}

header li .fa {
    display: none!important;
}

header nav li.submenu {
    /* display: none; */
}
	header nav > ul > li > a {color: #FFFFFF; width:100%;}
	header nav > ul > li > a:after {display:none;}
	header nav > ul > li.submenu > ul {position:relative; background:transparent; top:0; width:100%; margin-top:0;  box-shadow:none;display: none;}
	header nav > ul > li.submenu > a {}
	header nav > ul > li.submenu > ul li a {display:block; padding:7px 15px; font-weight:bold; color:#FFF; line-height:30px;}
	section.search{display:none;}

	.banner {margin: 0 0 20px !important;height: 350px;background-size: 150%!important;}

section.zedd {
    background-position-y: -195px;
    height: 350px;
}

	section.posts {}
	section.posts h1 {display:block; width:100%;}
	section.posts article {margin:0 3.03030303030303% 3.03030303030303% 0; width: 48%;}
	section.posts article img {width:100%;}
	section.posts article a h1 {width:calc(100% - 30px) !important;}
	.posts article:hover a h1 {padding-bottom:15px;}

	.navposts {margin:0 3.03030303030303% 40px !important; width:93.93939393939394%;}

	.info {display:none;}
	footer {padding:30px;}
	footer .left, footer .right {float:none !important; display:block;}

	.navposts {width:auto !important; margin:20px 0 !important;}
	.anuncio_mobile, aside .anuncio {display: none !important; height:auto !important; width:100% !important; text-align:center !important;}
	aside {float:none; width: 92%!important;    padding: 4%!important;display:block;}
	aside .anuncio ins {margin:0 auto;}
	aside .anuncio.screen {display:none !important;}
}

@media screen and (max-width:660px){
	* {border-radius:0 0 0 0 !important;}
	.banner {height:300px; background: #000 url(http://photo.rukes.com/xs16/slides/xs6_002.jpg) top center no-repeat; background-size:cover;}

header.content {
    padding: 20px 0;
}

#logo-header-big {
    width: 80%!important;
    top: 43%!important;
}

section.zedd {
    display: none;
}
	section.posts { margin-bottom:0 !important; /* margin: 3%; */ width: 100%;}

#posts_section_title {
  font-size: 23px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  text-align: center;
}

#posts_section_title h1 {
    max-width: 80%!important;
}

#Blog1 {
    padding: 4%;
}
	section.posts h1 {display:block; border:none; margin:0; font-size:20px; background:#019CCA; color:#FFF; padding:10px;max-width: 100%!important;}
	section.posts h1:after {display:none}
	section.posts article {margin:0; width:100%; height:250px;margin-bottom: 5.33333%;}
	section.posts article a {height:250px;}
	section.posts article img {width:100%;}
	section.posts article a h1 {width:calc(100%-30px) !important;}

.header-post{
    height: auto!important;
    position: relative!important;
    width: 100%!important;
    padding: 0!important;
}

.item h2 {
  font-size: 18px!important;
  position: relative!important;
  float: left!important;
  bottom: auto!important;
  width: 100%!important;
  padding: 0!important;
}

.item h3 {
    bottom: 0!important;
    position: relative!important;
    float: left;
}

.item > .header-post h2 a {
    position: relative!important;
    padding: 4%!important;
    float: left;
}

.comments {
  width: 94% !important;
}

}

@media screen and (max-width:400px){
	section.posts article, section.posts article a {height:200px;}
}
